<!--**********************************
  Content body start
***********************************-->

  <!-- row -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="welcome-card rounded pl-5 pt-5 pb-4 mt-3 position-relative mb-5">
          <h4 class="text-warning">Welcome to TakeToc!</h4>
          <p>At taketoc we are creating something wonderful, soon you will be able to enjoy our technology.</p>
          <a class="btn btn-warning btn-rounded" href="javascript:void(0);">Learn More <i
              class="las la-long-arrow-alt-right ml-sm-4 ml-2"></i></a>
          <img src="assets/images/svg/welcom-card.svg" alt="" class="position-absolute">
        </div>
      </div>
    </div>
  </div>